body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 87, 69);
}

.header, .top-content {
    background-color: rgb(69, 87, 69);
    color: #fff;
}

.header {
    padding: 16px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-content {
    padding: 80px 300px 100px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.top-text {
    width: 400px;
    flex-wrap: wrap;
    flex: 1;
    font-size: 16px;
}

.top-image {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: space-around;
   min-height: 250px;
   width: min-content;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.header li {
    list-style: none;
}

.header ul {
    display: flex;
    gap: 18px;
}

.top-text h2 {
    font-size: 48px;
    margin: 0;
}

.top-image {
    background-color: rgb(129, 141, 129);
}

.top-signup-button {
    font-weight: 600;
}

button {
    background-color: rgb(65, 190, 65);
    padding: 10px 35px;
    border-radius: 6px;
    color: #fff;
    outline: none;
    border: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-content h2 {
    padding: 20px;
}

.cards {
    display: flex;
    gap: 35px;
    margin-bottom: 120px;
}

.content-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex: 0 1 auto;
}

.card-image {
    border: 3px solid rgb(65, 190, 65);
    border-radius: 6px;
    height: 150px;
    margin-bottom: 5px;
}


.bottom {
    background-color: rgb(237, 245, 237); 
    display: flex;
    justify-content: center;
}
.quote-content {
    background-color: rgb(237, 245, 237); 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 650px;
    padding: 110px 0 90px 0;
    font-size: 26px;
    font-style: italic;
}

.quote-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.signup {
    background-color: rgb(65, 190, 65);
    color: #fff;
}

.border-signup-button {
    background-color: rgb(65, 190, 65);
    border: 1px solid #fff;
}

.footer {
    background-color: rgb(69, 87, 69);
    color: #fff;
    font-weight: 300;
}