body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
}

.header, .top-content, .footer {
    background-color: #1f372a;
    color: #fff;
}

.header {
    padding: 16px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 300;
}

.top-content {
    padding: 80px 300px 100px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.top-text {
    width: 550px;
    flex-wrap: wrap;
    flex: 0 1 auto;
    font-size: 18px;
    color: #e5e7eb;
}

.top-image {
   display: flex;
   flex: 0 1 auto;
   width: 550px;
   height: 300px;
}

.top-image {
    background-color: rgb(129, 141, 129);
}

.top-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8
}

.header li {
    list-style: none;
}

.header ul {
    display: flex;
    gap: 18px;
}

.top-text h2 {
    font-size: 48px;
    margin: 0;
    color: #f9faf8;
}



.top-signup-button {
    font-weight: 600;
}

button {
    background-color: #2bc72b;
    padding: 7px 32px;
    border-radius: 6px;
    color: #fff;
    outline: none;
    border: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-content h2 {
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #1f3724;
}

.cards {
    display: flex;
    gap: 35px;
    margin-bottom: 120px;
}

.content-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex: 0 1 auto;
}

.card-image {
    border: 3px solid #2bc72b;
    border-radius: 6px;
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.quote {
    background-color: #e5ebe8;
    display: flex;
    justify-content: center;
}
.quote-content {
    background-color: #e5ebe8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 650px;
    padding: 110px 0 90px 0;
    font-size: 26px;
    font-style: italic;
}

.quote-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 400px;
}

.signup-box {
    background-color: #2bc72b;
    display: flex;
    padding: 50px;
    border-radius: 10px;
    gap: 150px;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.signup-text {
    flex: 0 1 auto;
    color: #fff;
}
.signup-text h2 {
    margin: 0;
    padding: 0;
}

.border-signup-button {
    background-color: #2bc72b;
    border: 1px solid #fff;
    flex: 0 1 0;
}

.footer {
    display: flex;
    background-color: rgb(69, 87, 69);
    color: #fff;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 30px;
}